# Telegram Bot API Token
TELEGRAM_BOT_TOKEN=8533019401:AAFdimTuu29PI98G3Mya3knxTx8Zw-LGh8M

# BingX API Credentials
BINGX_API_KEY=xYxnnPbJBWVC5CQHvShjPZOQ2DeXejAebx4hg4ucTZj3ytLUHjoskK1n0z356NJ8A1oFPE8hXIiVddboKBhw
BINGX_SECRET_KEY=3nuY6OkZVqTVqKDwZOu5P4LvsDCRWwjyZFo13onHBLQnnqoVYTgWvp1fr9Pv01adG6lSezRitlLHr5pPnMg

# MongoDB Connection String
MONGODB_URI=mongodb://localhost:27017/bingx_bot

# Bot Configuration
RISK_PERCENTAGE=5
TEST_MODE=true

# Enforce Max 6% Stop Loss limit on capital
ENFORCE_MAX_SL_LOSS=true
